[core]
  # Default text editor is set in the .bash_profile but can be overridden here
  editor = subl -w

  # Excludesfiles allows us to set a global list of things to ignore
  excludesfile = ~/.gitignore_global


# These are custom color options for the console
[color]
  status = auto
  diff = auto
[color "status"]
  untracked = cyan
  changed = green
  added = yellow

# Hate typing long commands? Aliases will let you set custom shortcuts

[alias]
  co = checkout

  # lg is now a shortcut for a pretty log with short commit messages
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

  # cm is now a shortcut for showing the diff in sublime for commit messages
  ci = commit --verbose

[push]
  # This tells git we have to specify where we want our push to go
  # for other options check out http://blogs.collab.net/cloudforge/tips-on-git-de-fanging-git-push
  default = simple
