# These Headings like [core] are useful AND necessary
# They tell git and the user what area of git the settings are
# intended for
[core]

  # editor sets the default editor for things like commit messages
  # default editor is vim
  # subl -w tells git to use sublime to edit
  # the '-w' tells git to wait until the files closes
  editor = subl -w

  # Excludesfiles allows us to set a global list of things to ignore
  # You can set this path to be anywhere, we have chosen ~/.gitignore_global
  # Check out that file to see what dbc ignores by default
  excludesfile = ~/.gitignore_global


# These are custom color options for the console
# basic CLI colors should work here
[color]
  status = auto
  diff = auto
[color "status"]
  untracked = cyan
  changed = green
  added = yellow

# Hate typing long words? Aliases will let you set custom shortcuts

[alias]
  # Now typing git co == typing git checkout
  co = checkout

  # lg is now a shortcut for a pretty log with short commit messages
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

  # cm is now a shortcut for showing the diff in sublime for commit messages
  cm = commit --verbose

# Much like setting the editor above we are setting a mergetool
[merge]
  tool = sublime

# Specifies settings on our mergetool "sublime"
[mergetool "sublime"]
  cmd = subl -w $MERGED

  # Tells git not to trust exiting of sublime to mean
  # that the merge conflicts have been resolved
  trustExitCode = false


[push]
  # This tells git we have to specify where we want our push to go
  # for other options check out http://blogs.collab.net/cloudforge/tips-on-git-de-fanging-git-push
  default = simple
